@CHARSET "UTF-8";
#mapid {
	height: 400px;  
	width: 500px; 
	padding: 20px;
	marging: 20px;
	}

#mapidB {
	height: 400px;  
	width: 500px; 
	padding: 20px;
	marging: 20px;
	}
	
body{
    padding-top:15px;
    padding-bottom:15px;
}

#map-div{
    padding-left: 30px;
    padding-right:15px;
}
#catAll{
	margin-right:4px;
}
.row{
    margin-top:10px;
}
.selectedCategorie{
    background-color: #a1f6f7;
}
.select{display:none;} 
.popover{max-width:100%;}
.popover-content {text-align:center;}

.legendColor {
    border: 2px solid;
}

/* .mypopup.leaflet-popup-content-wrapper{ */
/* 	    background-color: gray; */
/* 	    opacity: 0.9; */
/* 	} */
/* .mypopup.leaflet-popup-tip { */
/* 	    background: red; */
/* 	} */
.custom-popup .leaflet-popup-content-wrapper {
  font-size:16px;
  line-height:24px;
/*   padding:0px; */
/*   margin:2px;  */
  }
.custom-popup .leaflet-popup-tip {
  background: black; 
  border-left:15px solid white;
/*   margin:10px;  */
  }